<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head.html');%>
</head>

<body>
    <div>
        <%- include('partials/header.html');%>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <center>
        <h1>Estamos arreglando la pagina </h1>
    </center>
    <br>
    <br>
    <br>

    <center>
        <a href="/about" style="font-size: 30px;">
            <-- Atras...</a>
    </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <!-- FOOTER -->
    <div>
        <%- include('partials/footer.html');%>
    </div>



    <div>
        <%- include('partials/footer-2.html');%>
    </div>

</body>

</html>