<!-- FOOTER -->
<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contacta con nosotros</h6>
                    <ul>
                        <li>
                            <p><span class="fa fa-map-marker"></span> Hotel Cotranal Plaza , COLOMBIA.</p>
                        </li>
                        <li><a href="tel:+57-313-291-6149"><span class="fa fa-phone"></span> +57(7)5682421 <br>    +(57)313-291-6149  </a></li>
                        <li><a href="mailto:hotelcotranal@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
            cotranalplaza@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Enlaces útiles</h6>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/about">Nosotros</a></li>
                        <li><a href="/contact">Contactanos</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Paginas web / Blogs</h6>
                    <div class="footer-post mb-4">
                        <a href="https://www.cotranalltda.com">Cotranal Transportes
                        </a>
                        <p class="small"><span class="fa fa-clock-o"></span> Pasajes y remesas</p>
                    </div>


                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Noticias </h6>
                    <p>Ingresa tu direccion de correo electronico y recibe las mas recientes noticias sobre nosotros y nuestros servicios</p>

                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Direccion E-mail" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                </div>
            </div>s
        </div>
    </div>
</section>

<!-- FOOTER END -->