<!--HEADER-->

<header class="w3l-header-nav" style="background-color: coral;">

    <!-- NAV -->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3 ">
        <div class="container">
            <a class="navbar-brand" href="/" style="color: white;">
                <img src="/logo.png" alt="Your logo" style="height:65px;" /> Hotel Cotranal Plaza</a>

            <!-- <a class="navbar-brand" href="index.html">
                    <img src="logo.png" alt="Your logo" title="Your logo" style="height:75px;" />
                </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">Nosotros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/services">Servicios</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">Contacto</a>
                    </li>

                </ul>
                <a href="/#booking" class="ml-3 book btn btn-info btn-style">Reserva ahora !</a>
            </div>
        </div>
    </nav>

    <!-- NAV END -->
</header>
<!-- HEADER END -->