<!-- MURO -->
<section class="w3l-about py-5">
    <div class="container py-sm-4">
        <div class="row">
            <div class="col-lg-6 about-left mb-md-0 mb-5">
                <h3 class="title-big">Descanso en nuestras habitaciones</h3>
                <h5>Hacemos lo mejor para todos nuestros clientes..</h5>
                <p class="mt-3" style="color: black;">Reserva una de nuestras habitaciones y disfruta de nuestro bello municipio, su arquitectura colonia y la bella cultura, sumergete en un recorrido por nuestros mejores museos, nuestros mejores parques y el delicioso frio de nuestro clima.
                    <br> Que esperas?, mereces una buenas vacaciones o un viaje de trabajo con un excelente servicio para descansar, todo eso lo encuetras en nuestro "Hotel Cotranal Plaza" <br> Reserva ya ! ...</p>
                <a href="/about" class="btn btn-style btn-primary mt-sm-5 mt-4">Leer mas</a>
            </div>
            <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
                <img src="/images/muro1-1.jpg" alt="" class="img-fluid img-border mt-4" />
                <img src="/images/muro1-2.jpg" alt="" class="img-fluid position-absolute img-position" />
            </div>
        </div>
    </div>
</section>
<!-- MURO END-->