<!-- MURO2-->
<div class="quotation py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-5 py-3">
            <h3 style="color: rgb(10, 255, 22);">Disfrute de una experiencia de lujo. Descubra nuestras ubicaciones. Relájate y disfruta tus vacaciones</h3>
            <a href="/#booking" class="btn btn-style btn-info mt-sm-5 mt-4 mr-2">Reserva Ahora!</a>
            <a href="/contact" class="btn btn-style btn-primary mt-sm-5 mt-4">Contactanos</a>
        </div>
    </div>
</div>
<!-- MURO2 END -->