<!-- NUESTAS MEJORES HABITACIONES -->
<div class="best-rooms py-5">
    <div class="container py-lg-5 py-sm-4">
        <h3 class="title-big text-center">Nuestras Mejores Habitaciones</h3>
        <div class="ban-content-inf row py-lg-3">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="/images/room1.jpg" alt="">
                        <figcaption class="w3set-hny">
                            <div>
                                <h4 class="top-text">Habitacion Cama Doble
                                    <span>Tomate el descanso que mereces ...</span></h4>
                                <p>Desde $50.000 (COP)</p>
                            </div>
                        </figcaption>

                    </figure>
                    <div class="room-info">
                        <h3 class="room-title"><a href="room-single.html">Cama Doble </a></h3>
                        <ul class="mb-3">
                            <li><span class="fa fa-users"></span> 2 Invitados</li>
                            <li><span class="fa fa-bed"></span> Cama Doble</li>

                        </ul>
                        <p>Habitacion con elegante sanitario privado y excelente luz, cuenta con una comoda cama doble y por supuesto: "un excelente Servicio".</p>
                        <a href="#booking" class="btn btn-style btn-primary mt-sm-4 mt-3">Reserve ahora !</a>
                    </div>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="/images/room2.jpg" alt="" />
                                <figcaption>
                                    <div style="margin: auto;">
                                        <h4>Habitacion Familiar" <span> "Doble mas Sencilla"</span></h4>
                                        <p>Desde $80.000 (COP) </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="/images/room3.jpg" alt="" />
                                <figcaption>
                                    <div style="margin: auto;">
                                        <h4>Habitacion Doble: <span> "2 Sencillas"</span></h4>
                                        <p>Desde $60.000 (COP)</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="/images/room4.jpg" alt="" />
                                <figcaption>
                                    <div style="margin: auto;">
                                        <h4>Super Grand: <span> "3 Sencillas" (COP)</span></h4>
                                        <p>Desde $90.000 (COP) </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="/images/room5.jpg" alt="" />
                                <figcaption>
                                    <div style="margin: auto;">
                                        <h4>Espacios de Descanso: <span> "Salas y Cafeteria"</span></h4>
                                        <p>Cafe Gratis ! </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- NUESTRAS HABITACIONES END-->


<!--
    
div class="best-rooms  

    div class="container

        h3 class="title-big text-center



        div class="ban-content-inf row

            div class="maghny-gd-1

                div class="maghny-grid"


                    figure class="effect-lily

                        img class="img-fluid

                        figcaption class="w3set-hny
                        




                    div class="room-info"








            div class="maghny-gd-1
            
            



        center
            a






-->