<!-- SLIDER  -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>La ubicación es celestial. Es mejor visitar en días laborables para disfrutar de la belleza pacífica
                                    </h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/services"> Nuestros Servicios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>El clima de nuestro municipio lo hace un lugar acogedor.</h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/services"> Nuestros Serivicos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Disfrute de un excelente servicio por parte de nuestros empleados.
                                    </h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/services"> Nuestros Servicios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>El buen turismo seguirá a los buenos hoteles. Experimente nuestras habitaciones de hotel de lujo</h5>
                                    <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/services">Nuestros Servicios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- SLIDER END -->